{% extends "main-template.html" %}{% load static %}
{% block title %}PRODUCTOS{% endblock %}
{% block content %}
<div class="text-center">
   <h1>Productos</h1>
</div>

<h2>Alimentos</h2>
      <div class="container-fluid p-5 d-flex flex-wrap">
        
        <div class="row d-flex justify-content-around mb-4">
          <div class="card col-3 mr-2 mb-2">
            <img src="static/img/articulos/alimento1.jpg"  width="200px" height="200px" class="rounded mx-auto d-block" alt="alimento">
          
            <div class="card-body">
              <h5 class="card-title">Alimento Premium Dog</h5>
              <p class="card-text">Alimento raza pequeña sabor carne a base de proteina y cereales, mantiene brillante el pelaje de tu perro. Saco de 10 kilos.</p>
              <p class="card-text">$30.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>
          
          <div class="card col-3 mr-2 mb-2">
            <img src="static/img/articulos/alimento2.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="galleta">
          
            <div class="card-body">
              <h5 class="card-title">Galleta Guau Guau</h5>
              <p class="card-text">Deliciosas Galletas Premium sabor Verduras y salmón. ayudan a mantener limpios los dientes de tu perro 5 Unidades.</p>
              <p class="card-text">$5.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>
    
          
          <div class="card col-3 mr-2 mb-2">
            <img src="static/img/articulos/alimento3.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="galletas">
          
            <div class="card-body">
              <h5 class="card-title">Galletas Pets fina selección </h5>
              <p class="card-text"> Galleta de pavo con finas hierbas seleccionadas, las que ayudan a mantener el aliento fresco. 5 Unidades </p>
              <p class="card-text">$8.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>
          
          
        

          <div class="card col-3 mr-2 mb-2 mt-2">
            <img src="static/img/articulos/alimento4.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="alimento">
          
            <div class="card-body">
              <h5 class="card-title">Alimento Pets Sin Glúten</h5>
              <p class="card-text">alimento para perros con alergias alimentarias sabor carne, no contiene glutten razas medianas. Sacos de 15 kilos.</p>
              <p class="card-text">$50.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>


          <div class="card col-3 mr-2 mb-2 mt-2">
            <img src="static/img/articulos/alimento5.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="alimento">
          
            <div class="card-body">
              <h5 class="card-title">Alimento Sabro Can Variedades</h5>
              <p class="card-text">Alimento sabor carne, verduras y salmón para razas grandes sin colorantes artificiales, 80% proteina. Saco de 15 kilos. </p>
              <p class="card-text">$45.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>


          <div class="card col-3 mr-2 mb-2 mt-2">
            <img src="static/img/articulos/alimento6.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="salsa">
          
            <div class="card-body">
              <h5 class="card-title">Salsa premium Pets </h5>
              <p class="card-text">Deliciosa salsa con trocitos de carne seleccionada, bolsa 500 gramos. </p>
              <p class="card-text">$1.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>

          <div class="card col-3 mr-2 mb-2 mt-2">
            <img src="static/img/articulos/alimento7.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="snack">
          
            <div class="card-body">
              <h5 class="card-title">Snacks  Pets</h5>
              <p class="card-text">Deliciosos Snack surtidos de carne, pavo salmon y verduras sin gluten, bolsas 800 gramos.</p>
              <p class="card-text">$2.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>

          <div class="card col-3 mr-2 mb-2 mt-2">
            <img src="static/img/articulos/alimento8.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="salsa">
          
            <div class="card-body">
              <h5 class="card-title">Salsa premium Pest</h5>
              <p class="card-text">deliciosa salsa con trocitos de pavo, bolsa de 500 gramos.</p>
              <p class="card-text">$1.000 </p>
              <a href="#" class="btn btn-warning">Agregar al carro.</a>
            </div>
          </div>

        </div> 
      </div>
      

      <h2>Accesorios</h2>
      <div class="container-fluid  p-5 d-flex-wrap ">

        <div class="row d-flex justify-content-around mb-4">
          <div class="card col-3 mr-2 mb-2">
            <img src="static/img/articulos/peludo7.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="guante">
      
          <div class="card-body">
            <h5 class="card-title">Guante Rascador Pets</h5>
            <p class="card-text">Guante de goma saca pelo suelto y rascador para perros y gatos. Talla S-M-L </p>
            <p class="card-text">$6.000 </p>
            <a href="#" class="btn btn-warning">Agregar al carro.</a>
          </div>
      </div>

      <div class="card col-3 mr-2 mb-2">
        <img src="static/img/articulos/peludo6.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="bolsas">
      
        <div class="card-body">
          <h5 class="card-title">Bolsas Pets</h5>
          <p class="card-text">Bolsas para escremento, 30 bolsas por rollo </p>
          <p class="card-text">2.000 </p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>

      <div class="card col-3 mr-2 mb-2">
        <img src="static/img/articulos/peludo8.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="plato">
      
        <div class="card-body">
          <h5 class="card-title">Plato doble Pets</h5>
          <p class="card-text">Plato doble para perros y gatos antiderrame  </p>
          <p class="card-text">$3.990 </p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>

      <div class="card col-3 mr-2 mb-2">
        <img src="static/img/articulos/peludo5.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="banano">
      
        <div class="card-body">
          <h5 class="card-title">Banano Pets</h5>
          <p class="card-text">Practico banano para razas pequeñas, varios colores </p>
          <p class="card-text">$20.000 </p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>

      <div class="card col-3 mr-2 mb-2 mt-2">
        <img src="static/img/articulos/peludo10.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="lentes">
      
        <div class="card-body">
          <h5 class="card-title">Lentes Pets</h5>
          <p class="card-text">Lentes para perros y gatos. </p>
          <p class="card-text">$5.990 </p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>

      <div class="card col-3 mr-2 mb-2 mt-2">
        <img src="static/img/articulos/peludo1.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="corbatín">
      
        <div class="card-body">
          <h5 class="card-title">Corbatin Pets</h5>
          <p class="card-text">Corbatín para perros carios colores. </p>
          <p class="card-text">$1.100 x kilo.</p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>
      

      <div class="card col-3 mr-2 mb-2 mt-2">
        <img src="static/img/articulos/peludo12.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="mordedor">
      
        <div class="card-body">
          <h5 class="card-title">Mordedor Pets</h5>
          <p class="card-text">Juguete mordedor de goma para perros. </p>
          <p class="card-text">$1.100 x kilo.</p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>

      <div class="card col-3 mr-2 mb-2 mt-2">
        <img src="static/img/articulos/peludo9.jpg"  width="200px" height="200px"  class="rounded mx-auto d-block" alt="mantita">
      
        <div class="card-body">
          <h5 class="card-title">Mantita Pets</h5>
          <p class="card-text">Mantita de polar varios colores. </p>
          <p class="card-text">$1.200 x kilo. </p>
          <a href="#" class="btn btn-warning">Agregar al carro.</a>
        </div>
      </div>
{% endblock %}